.container{
    width:50%;
    border: 5px solid rgb(53, 111, 150);
    border-radius: 10px;
    margin-top: 20px;
}

hr.style18:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }

button{
 margin: 10px 0 10px 0;
}