<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Product Catalogue</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Name</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(p){ %>
                    <tr>
                        <td><img class="img-thumbnail" src="<%=p.imageUrl%>" alt=""></td>
                        <td><%=p.name%></td>
                        <td><%=p.price%></td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
    </div>
</body>
</html>


